section {
    height: 80vh;
    border: solid red;
    border-width: 2px;
    position: relative;
}
.computer {
    width: fit-content;
    padding: 50px;
    border: solid black 5px;
    margin: 50px;    
    box-sizing: border-box;
}
.red {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
}
button {
    font-size: 25px;
    transition: all 300ms;
}
button:hover {
    background-color: black;
    color: white;
    animation: float 2000ms alternate-reverse infinite;
}
a {
    transition: background-color 300ms;
}
a:hover {
    background-color: rgba(41, 4, 175, 0.2);
}
img {
    animation: float 2000ms alternate-reverse infinite;
}
.media {
    font-size: 24px;
}
@media (max-width: 576px) {
    .media {
        font-size: 16px;
    }
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}